[submodule "prog2-esercitazioni"]
	path = prog2-esercitazioni
	url = https://github.com/alek4/prog2-esercitazioni.git
[submodule "statistica"]
	path = statistica
	url = https://github.com/dariomalchiodi/superhero-datascience.git
[submodule "sistemi-embedded"]
	path = sistemi-embedded
	url = https://gitlab.di.unimi.it/sistemiembedded/2022-2023.git
